@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding-top: 40px;
	justify-content: space-between;
	align-tiems: center;
	z-index: 10000000;
	animation: transitionIn 1s;
}

@keyframes transitionIn{
	from{
		opacity: 0;
		transform: scale(0.5);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}

header .logo{
	position: relative;
	max-width: 50px;
	padding-left: 30px;
}

header .navigation{
	position: relative;
	display: flex;
}

header .navigation li{
	list-style: none;
}

header .navigation li a{
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 1.5em;
	text-decoration: none;
	margin-left: 30px;
	padding-right: 40px;
	transition: 0.5s;
}

header .navigation li a:hover{
	opacity: 0.65;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #131313;
}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 75px;
}

.container .card{
	position: relative;
	width: 320px;
	height: 450px;
	background: #232323;
	border-radius: 20px;
	overflow: hidden;
	margin: 20px 20px;
	animation: transitionIn 1s;
}

.container .card:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #3EBE2F;
	clip-path: circle(100px at 50% 45%);
	transition: 0.5s ease-in-out;
}

/* -----Will enlarge the circle design when hovered on.-----*/
.container .card:hover:before{
	clip-path: circle(200px at 50% 17%)
}

.container .card:after{
	content: '';
	position: absolute;
	top: 30%;
	left: -20%;
	font-size: 12em;
	font-weight: 800;
	font-style: italic;
	color: rgba(255,255,255,0.04);
}

.container .card .imgbox{
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	z-index: 1000;
	width: 100%;
	height: 220px; 
	transition: 0.5s;
}

.container .card:hover .imgbox{
	top: 0%;
	transform: translateY(0%) rotate(-25deg);
}

.container .card .imgbox img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%) rotate(0deg);
	width: 270px;
}

.container .card .contentBox{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}

.container .card:hover .contentBox{
	height: 150px;
}

.container .card .contentBox h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
}
.container .card .contentBox .size{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.container .card:hover .contentBox .size{
	opacity: 1;
	visibility: visible;
}

.container .card .contentBox .size h3{
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
}

.container .card .contentBox .size span{
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 8px;
	display: inline-block;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	border-radius: 4px;
	cursor: pointer;
}

.container .card .contentBox .size span:hover{
	background: #3EBE2F;
}

.container .card .contentBox a{
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s;
}

.container .card:hover .contentBox a{
	opacity: 1;
	transform: translateY(0px);
}

@media (max-width: 991px){
	header{
		padding-top: 40px;
	}
	
	header .navigation{
		display: none;
	}
	
	header .navigation.active{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #3EBE2F;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;
	}
	
	
	header .navigation li a{
		margin: 10px;
		font-size: 3em;
		font-weight: 500;
		padding-right: 30px;
	}
	
	.container{
		padding-top: 100px;
	}
	
	.toggle{
		position: relative;
		width: 30px;
		height: 30px;
		background: url("toggle.png");
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 10000;
		padding-right: 75px;
	}
	
	.toggle.active{
		position: fixed;
		right: 40px;
		background: url(close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
}