@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body{
	background: #3A4445;
	margin: 0;
	font-family: 'Poppins';
}

section{
	padding-left: 2em;
	padding-right: 2em;
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

/*------------------ LOADER -------------------*/
.loader-wrapper {
	z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3A4445;
  display:flex;
  justify-content: center;
  align-items: center;
	
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

/*------------------ HEADER -------------------*/
.navbar{
	padding: 1em 2em;
	animation-name: dropdown;
	animation-duration: 3s;
}

@keyframes dropdown{
	from{
		margin-top: 10em;
	}
	to{
		margin-top: 0;
	}
}

.navbar .logo{
	text-decoration: none;
	/* Font Weight */
	color: white;
	font-size: 1.75em;
	width: 20px;
	font-weight: 700;
}

.navbar nav{
	display: none;
}

.navbar .container{
	display: flex;
	place-content: space-between;
}

.navbar .mobile-menu{
	cursor: pointer;
}

.current{
	font-weight:700;
	opacity: 75%;
}

/*----------------- BUILDING NAV ----------------*/
nav.menu-btn{
	display: block;
}

nav{
	position: fixed;
	z-index: 999;
	width: 100%;
	right: 0;
	top: 0;
	background :#4E616C;
	height: 100vh;
	padding: 1em;
}

ul.primary-nav{
	margin-top: 5em; 
}

.nav-a{
	color: white; 
	text-decoration: none;
	display: block;
	padding: 1em;
	font-size: 1.5em;
	text-align: right;
	cursor: pointer;
}

.nav-a:hover{
	opacity: 75%;
}

.mobile-menu-exit{
	float:right;
	margin-right: 1em;
	cursor: pointer;
}

/*------------------ HERO --------------------*/

.hero:before{
	content: '';
	position: absolute;
	width: 100%;
	margin: auto;
	height: 150%;
	background: url("images/tree1.png");
	background-repeat: no-repeat;
	left: 0em;
	top: -35em;
	z-index: -1;
	overflow: hidden;
	animation-name: fadein;
	animation-duration: 10s;
}

@keyframes fadein{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}

.left-col{
	border-style: solid;
	border-color: white;
	padding: 1em;
	margin: auto;
	width: 80%;
	margin-top: 1em;
	overflow: hidden;
	background: #3A4445;
}

.left-col .herohead{
	line-height: 1.2em;
	color: white;
	border-style: solid;
	border-top:none;
	border-right: none;
	border-left: none;
	border-width: thin;
	padding-bottom: 0.5em;
	font-weight: 400;
	
}

.left-col .subhead{
	color: white;
	font-weight: 200;
}

.left-col .primary-cta{
	border:3px solid white;
	text-decoration: none;
	border-radius: 5em;
	padding: .3em 0.8em;
	display:inline-block;
	color: white;
	cursor: pointer;
}

.left-col .primary-cta:hover{
	cursor: pointer;
	background: white;
	color: #3a4445;
	animation-name: whiteanimation;
	animation-duration: 1s;
}

@keyframes whiteanimation{
	from{
		background:#3A4445;
		color: white;
	}
	to{
		background: white;
		color:#3A4445;
	}
}

.right-col{
	margin: auto;
}

.hero-img{
	width: 90%;
	display: block;
	margin: auto;
}

/*--------------------- Gallery Img Left ------------------*/

.gallery-1:before{
	content: '';
	position: absolute;
	width: 100%;
	margin: auto;
	height: 150%;
	background: url("images/tree1.png");
	background-repeat: no-repeat;
	right:0em;
	top: 25em;
	z-index: -1;
	overflow: hidden;
	animation-name: fadein;
	animation-duration: 10s;
}

.gallery-1{
	background: #4E616C;
	padding-bottom: 1em;
	padding-top: 1em;
	overflow: hidden;
}

.gallery-img{
	width: 75%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
}

.gallery-content{
	color: white;
	width: 90%;
	text-align: center;
	margin: auto;
}

.gallery-h2{
	border-style: solid;
	padding: 0.75em;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: thin;
	font-size: 2em;
}

.gallery-p1{
	font-weight: 400;
	margin-bottom: -1.2em;
	font-size: 1.5em;
}

.gallery-p2{
	font-weight: 200;
	font-size:1.5em;
	opacity: 60%;
}

.project-cta{
	border:3px solid white;
	text-decoration: none;
	border-radius: 5em;
	padding: .3em 0.8em;
	display:inline-block;
	color: white;
}

/*------------------- Contact ----------------------*/
.contact-section{
	background: #4E616C;
}

.contact-block{
	text-align: center;
	padding: 2em;
	margin: auto;
}

.contact-block:hover{
	opacity: 50%;
	animation-name: contacthover;
	animation-duration: 1s;
}

@keyframes contacthover{
	from{
		opacity: 100%;
	}
	to{
		opacity: 50%;
	}
}

.contact-img{
	width: 100px;
}

.contact-a{
	text-decoration: none;
	padding: .1em 0.8em;
	display:inline-block;
	color: white;
}

/*------------------- Skills -----------------------*/

.skills-content{
	background: #3A4445;
	padding: 2em;
}

.skills-title{
	color: white;
	text-align: center;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: thin;
}

.skills-h1{
	
}

.skills-ul{
	color: white;
	text-align: center;
	padding-top: 1em;
}

.skills-li{
	text-decoration: inherit;
	padding: 0.5em;
	font-size: 1.2em;
}

/*------------------- Footer -----------------------*/
.footer-section{
	padding: 2em;
}
.footer-info{
	text-align: center;
}

.footer-p{
	color: white;
	font-size: 0.8em;
}

/*------------------- Devices  ---------------------*/

@media only screen and (min-width:768px){
	.mobile-menu, .mobile-menu-exit{
		display: none;
	}
	
	.navbar .container{
		display: grid;
		grid-template-columns: 180px auto;
	}
	
	.navbar nav{
		display: flex;
		justify-content: space-between;
		background:none;
		position: unset;
		height: auto;
		width:100%;
		padding: 0;
	}
	.primary-nav{
		display: flex;
	}
	ul.primary-nav{
		margin:0;
	}
	.nav-a{
		font-size: 1em;
		padding-bottom: 0;
		padding-top: 0.5em;
	}
	
	.hero:before{
		content: '';
		position: absolute;
		width: 100%;
		margin: auto;
		height: 150%;
		background: url("images/tree1.png");
		background-repeat: no-repeat;
		left:-30em;
		top: -10em;
		z-index: -1;
	}
	
	.left-col{
		width: 80%;
	}
	
	.contact-wrapper{
		display: flex;
	}
	
	.contact-img{
		width: 100px;
	}	
	
	.gallery-img{
		width: 60%;
	}
	
	.gallery-1:before{
		content: '';
		position: absolute;
		width: 100%;
		margin: auto;
		height: 100%;
		background: url("images/tree1.png");
		background-repeat: no-repeat;
		left:0em;
		top:40em;
		z-index: -1;
	}
}

@media only screen and (min-width: 1080px){
	.container{
		width: 1080px;
		margin: 0 auto;
	}
	.left-col{
		width:100%;
	}
	
	.hero .container{
		display: flex;
		justify-content: space-between;
	}
	
	.left-col{
		margin: auto;
		width: 72%;
	}
	
	.right-col{
		width: 100%;
	}
	
	.hero-img{
		margin: auto;
	}
	
	.gallery-1{
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.gallery-img{
		width: 75%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 0em;
	}
	
	.gallery-1 .container{
		display: flex;
		justify-content: space-between;
	}
	
	.gallery-2 .container{
		display: flex;
		justify-content: space-between;
	}
	.gallery-content{
		width: 110%;
		margin-left: 2em;
		margin: auto;
	}
	.gallery-img{
		width: 95%;
		margin-right: 2em;
		margin-right: 2em;
		left: 0;
	}
}
