@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body{
	background: #3A4445;
	margin: 0;
	font-family: 'Poppins';
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

section{
	padding-left: 2em;
	padding-right: 2em;
}

html{
	scroll-behavior: smooth;
}

/*------------------ LOADER -------------------*/
.loader-wrapper {
	z-index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3A4445;
  display:flex;
  justify-content: center;
  align-items: center;
	
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

/*------------------ HEADER -------------------*/
.navbar{
	padding: 1em 2em;
	animation-name: dropdown;
	animation-duration: 3s;
}

@keyframes dropdown{
	from{
		margin-top: 10em;
	}
	to{
		margin-top: 0;
	}
}

.navbar .logo{
	text-decoration: none;
	/* Font Weight */
	color: white;
	font-size: 1.75em;
	width: 20px;
	font-weight: 700;
}


.navbar nav{
	display: none;
}

.navbar .container{
	display: flex;
	place-content: space-between;
}

.navbar .mobile-menu{
	cursor: pointer;
}

.current{
	font-weight:700;
	opacity: 75%;
}

/*----------------- BUILDING NAV ----------------*/
nav.menu-btn{
	display: block;
}

nav{
	position: fixed;
	z-index: 999;
	width: 100%;
	right: 0;
	top: 0;
	background :#4E616C;
	height: 100vh;
	padding: 1em;
}

ul.primary-nav{
	margin-top: 5em; 
}

.nav-a{
	color: white; 
	text-decoration: none;
	display: block;
	padding: 1em;
	font-size: 1.5em;
	text-align: right;
	cursor: pointer;
}

.nav-a:hover{
	opacity: 75%;
}

.mobile-menu-exit{
	float:right;
	margin-right: 1em;
	cursor: pointer;
}

/*------------------ HERO --------------------*/

.hero:before{
	content: '';
	position: absolute;
	width: 100%;
	margin: auto;
	height: 150%;
	background: url("images/tree1.png");
	background-repeat: no-repeat;
	left: 0em;
	top: -10em;
	z-index: -1;
	overflow: hidden;
	animation-name: fadein;
	animation-duration: 10s;
}

@keyframes fadein{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}
.left-col{
	border-style: solid;
	border-color: white;
	padding: 1em;
	margin: auto;
	width: 80%;
	background: #3A4445;
	
}

.left-col .herohead{
	line-height: 1.2em;
	color: white;
	border-style: solid;
	border-top:none;
	border-right: none;
	border-left: none;
	border-width: thin;
	padding-bottom: 0.5em;
	font-weight: 400;
	
}

.left-col .subhead{
	color: white;
	font-weight: 200;
}

.left-col .primary-cta{
	border:3px solid white;
	text-decoration: none;
	border-radius: 5em;
	padding: .3em 0.8em;
	display:inline-block;
	color: white;
}

.left-col .primary-cta:hover{
	animation-name: whiteanimation;
	animation-duration: 1s;
	background: white;
	color: #3A4445;
}

@keyframes whiteanimation{
	from{
		color: white;
	}
	to{
		background: white;
		color:#3A4445;
	}
}

.left-col .primary-cta:hover{
	cursor: pointer;
	background: white;
	color: #3a4445;
}


.hero-img{
	width: 90%;
	margin-top:3em; 
	display: block;
	margin-right: auto;
	margin-left: auto;
	animation-name: slidein;
	animation-duration: 5s;
}

@keyframes slidein{
	from{
		opacity: 0%;
	}
	to{
		opacity: 100%;
	}
}

.right-col{
	bottom: 0;
	right:0;
}

/*-------------------- MY WORKS SECTION --------------------*/
.myworks-section{
	background: #4E616C;
}


.myworks-ul{
	padding: 1em;
}

.myworks-li{
	text-align: center;
	padding: 1em 1em;
	border-radius: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	cursor: pointer;
}

.myworks-li:hover{
	animation-name: workshovering;
	animation-duration: 1s;
	cursor: pointer;
	background: #3A4445;
}

.img-container{
	margin: auto;
}

.works-img{
	width: 10em;
	height: 10em;
	
}

@keyframes workshovering{
	from{
		background: #4E616C;
	}
	to{
		background: #3A4445;
	}
}

.myworks-a{
	font-weight: 700;
	text-decoration: none;
	border-radius: 5em;
	margin: 0em auto 0.2em auto;
	padding: .1em 0.4em;
	display:inline-block;
	color: white;
	font-size: 1.5em;
	cursor: pointer;
}

.myworks-a:hover{
	animation-name: ctaAnimation;
	animation-duration: 1s;
	background: #4E616C;
}

@keyframes ctaAnimation{
	from{
		background: #7c8ea0;
	}
	to{
		background: #4E616C;
	}
}

/*------------------ ABOUT SECTION -----------------------*/

.about-section{
	background: #3A4445;
}
.about-img{
	width: 50%;
	margin-top:3em; 
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3em;
}

.about-heading{
	color: white;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right:none;
	border-width: thin;
	padding-bottom: 0.7em;
}

.about-content{
	color: white;
	font-weight: 200;
}

.contact-cta{
	border:3px solid white;
	text-decoration: none;
	border-radius: 5em;
	padding: .3em 0.8em;
	display:inline-block;
	color: white;
	margin-bottom: 3em;
	cursor: pointer;
}

.contact-cta:hover{
	animation-name: whiteanimation;
	animation-duration: 1s;
	background: white;
	color: #3A4445;
}

/*-------------- RESPONSIVE DESIGN --------------*/
@media only screen and (min-width:768px){
	.mobile-menu, .mobile-menu-exit{
		display: none;
	}
	
	.navbar .container{
		display: grid;
		grid-template-columns: 180px auto;
	}
	
	.navbar nav{
		display: flex;
		justify-content: space-between;
		background:none;
		position: unset;
		height: auto;
		width:100%;
		padding: 0;
	}
	.primary-nav{
		display: flex;
	}
	ul.primary-nav{
		margin:0;
	}
	.nav-a{
		font-size: 1em;
		padding-bottom: 0;
		padding-top: 0.5em;
	}
	
	.myworks-ul{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.hero:before{
		content: '';
		position: absolute;
		width: 100%;
		margin: auto;
		height: 150%;
		background: url("images/tree1.png");
		background-repeat: no-repeat;
		left:-15em;
		top: -30em;
		z-index: -1;
	}
	
	.left-col{
		width: 50%;
	}
	
	.hero-img{
		width: 50%;
	}
	
	.myworks-section:before{
		content: '';
		position: absolute;
		width: 100%;
		margin: auto;
		height: 100%;
		background: url("images/tree1.png");
		background-repeat: no-repeat;
		left:0em;
		top: 20em;
		z-index: -1;
		animation-name: fadein;
		animation-duration: 10s;
	}
	
	.about-right{
		width: 70%;
		margin: auto;
	}
	
	.myworks-li{
		text-align: center;
		padding: 2em 1em;
		border-radius: 2em;
		margin-left: auto;
		margin-right: auto;
		width: 25em;
		cursor: pointer;
	}
	
	.works-img{
		width: 20em;
		height: 20em;
		border-radius: 2em;
		padding: 1em;
	}
}

@media only screen and (min-width: 1080px){
	.hero:before{
		content: '';
		position: absolute;
		width: 100%;
		margin: auto;
		height: 150%;
		background: url("images/tree1.png");
		background-repeat: no-repeat;
		left:-15em;
		top: -30em;
		z-index: -1;
	}
	.container{
		width: 1080px;
		margin: 0 auto;
	}
	.left-col{
		margin: auto;
		width: 100%;
	}
	
	.hero .container{
		display: flex;
		justify-content: space-between;
	}
	
	.hero-img{
		width: 75%;
		margin: auto;
	}
	
	.myworks-section:before{
		content: '';
		position: absolute;
		width: 100%;
		margin: auto;
		height: 100%;
		background: url("images/tree1.png");
		background-repeat: no-repeat;
		left:0em;
		top: 20em;
		z-index: -1;
	}
	
	.about-section .container{
		display: flex;
		justify-content: space-between;
	}
	.about-right{
		padding: 1em;
		margin: auto;
		width: 100%;
	}
	.about-left{
		width: 80%;
	}
	.about-img{
		width: 80%;
	}
	
}